

* {
    -webkit-font-smoothing: antialiased
}

@media (min-width: 320px) {
    body:before {
        content: "small";
        display: none
    }
}

@media (min-width: 468px) {
    body:before {
        content: "small-medium";
        display: none
    }
}

@media (min-width: 600px) {
    body:before {
        content: "medium";
        display: none
    }
}

@media (min-width: 768px) {
    body:before {
        content: "column-layout-width";
        display: none
    }
}

@media (min-width: 920px) {
    body:before {
        content: "medium-large";
        display: none
    }
}

@media (min-width: 1000px) {
    body:before {
        content: "report-page-breakpoint";
        display: none
    }
}

@media (min-width: 1024px) {
    body:before {
        content: "large";
        display: none
    }
}

@media (min-width: 1200px) {
    body:before {
        content: "min-preview-width";
        display: none
    }
}

@media (min-width: 1400px) {
    body:before {
        content: "x-large";
        display: none
    }
}

@media (min-width: 1600px) {
    body:before {
        content: "xx-large";
        display: none
    }
}


/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

@font-face {
    font-family: 'BP Replay';
    src: url("fonts/BPreplay.otf")
}

@font-face {
    font-family: 'BP Replay Italics';
    src: url("fonts/BPreplayItalics.otf")
}

@font-face {
    font-family: 'BP Replay Bold Italics';
    src: url("fonts/BPreplayBoldItalics.otf")
}

@font-face {
    font-family: 'BP Replay Bold';
    src: url("fonts/BPreplayBold.otf")
}

html {
    font-size: 16px;
    line-height: 1.5
}

html *,
html *:before,
html *:after {
    box-sizing: border-box
}

body {
    background-color: #fff;
    font-family: "Montserrat", "Helvetica Neue", helvetica, arial, sans-serif;
    color: #000
}

h1 {
    margin: 0
}

h2 {
    margin: 0
}

h3 {
    margin: 0
}

h4 {
    margin: 0
}

h5 {
    margin: 0
}

h6 {
    margin: 0
}

a {
    color: currentColor
}

p {
    line-height: 1.5rem;
    font-size: 1rem;
    margin: 0 0 1rem
}

.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 0 .5rem
}

.grid__span {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    padding: 0 .5rem
}

@media all and (min-width: 48rem) {
    .grid__span {
        -ms-flex-preferred-size: 0%;
        flex-basis: 0%
    }
}

.grid__span--content-width {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.grid--no-break .grid__span {
    -ms-flex-preferred-size: 0%;
    flex-basis: 0%
}

.grid--no-break .grid__span--content-width {
    -ms-flex-preferred-size: auto;
    flex-basis: auto
}

.grid--gutter-none .grid__span {
    padding: 0
}

.grid--gutter-half {
    padding: 0 .75rem
}

.grid--gutter-half .grid__span {
    margin: 0 -.25rem
}

.grid--column>.grid__span {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.grid--gutter-offset {
    margin: 0 -1rem
}

.grid--gutter-none {
    padding: 0
}

.grid--column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column
}

.grid--full-height-wrapper .grid__wrapper {
    height: 100%
}

.grid--align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.grid--align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.grid--align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.grid--justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.grid--justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.grid--justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.grid--justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.grid--justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.grid--account-type-selection .grid__span {
    min-width: 11rem
}

.visibly-hidden {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    clip: rect(0, 0, 0, 0)
}

.no-display {
    display: none
}

.text-secondary {
    color: #737373
}

.center-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.full-height {
    height: 100vh
}

.full-width {
    width: 100%
}

.margin-bottom--half {
    margin-bottom: .5rem
}

.center-align-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.center-justify-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media all and (min-width: 37.5rem) {
    .float-left-medium {
        float: left
    }
}

.no-scroll {
    overflow: hidden
}

.margin-bottom--0 {
    margin-bottom: 0rem
}

.gutter-0 {
    padding-left: 0rem;
    padding-right: 0rem
}

.margin-bottom--1 {
    margin-bottom: 1rem
}

.gutter-1 {
    padding-left: 1rem;
    padding-right: 1rem
}

.margin-bottom--2 {
    margin-bottom: 2rem
}

.gutter-2 {
    padding-left: 2rem;
    padding-right: 2rem
}

.text-align--left {
    text-align: left
}

.text-align--center {
    text-align: center
}

.text-align--right {
    text-align: right
}

@media all and (min-width: 29.25rem) {
    .small-medium-display {
        display: block
    }
    .small-medium-no-display {
        display: none
    }
}

@media all and (min-width: 37.5rem) {
    .medium-display {
        display: block
    }
    .medium-no-display {
        display: none
    }
}

@media all and (min-width: 48rem) {
    .column-layout-width-display {
        display: block
    }
    .column-layout-width-no-display {
        display: none
    }
}

@media all and (min-width: 57.5rem) {
    .medium-large-display {
        display: block
    }
    .medium-large-no-display {
        display: none
    }
}

@media all and (min-width: 62.5rem) {
    .report-page-breakpoint-display {
        display: block
    }
    .report-page-breakpoint-no-display {
        display: none
    }
}

@media all and (min-width: 64rem) {
    .large-display {
        display: block
    }
    .large-no-display {
        display: none
    }
}

@media all and (min-width: 75rem) {
    .min-preview-width-display {
        display: block
    }
    .min-preview-width-no-display {
        display: none
    }
}

@media all and (min-width: 87.5rem) {
    .x-large-display {
        display: block
    }
    .x-large-no-display {
        display: none
    }
}

@media all and (min-width: 100rem) {
    .xx-large-display {
        display: block
    }
    .xx-large-no-display {
        display: none
    }
}

.width-small {
    width: 20rem
}

.width-small-medium {
    width: 29.25rem
}

.width-medium {
    width: 37.5rem
}

.width-column-layout-width {
    width: 48rem
}

.width-medium-large {
    width: 57.5rem
}

.width-report-page-breakpoint {
    width: 62.5rem
}

.width-large {
    width: 64rem
}

.width-min-preview-width {
    width: 75rem
}

.width-x-large {
    width: 87.5rem
}

.width-xx-large {
    width: 100rem
}

.loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    fill: #000;
    color: #000
}

.loader--light {
    fill: #ccc;
    color: #ccc
}

.loader--white {
    fill: #fff;
    color: #fff
}

.loader__icon {
    margin: 0 0 .5rem;
    -webkit-animation: spinner .5s ease-out infinite;
    animation: spinner .5s ease-out infinite
}

.icon {
    display: inline-block;
    vertical-align: top;
    width: 1.5rem;
    height: 1.5rem
}

.icon__svg {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    pointer-events: none
}

.icon--outline {
    border: .1875rem solid;
    border-radius: 50%;
    width: 2rem;
    height: 2rem
}

.icon--outline .icon__svg {
    -webkit-transform: scale(.61538);
    transform: scale(.61538)
}

.icon--outline.icon--no-padding .icon__svg {
    -webkit-transform: scale(.5);
    transform: scale(.5)
}

.icon--outline.icon--small .icon__svg {
    -webkit-transform: scale(.8);
    transform: scale(.8)
}

.icon--outline.icon--large .icon__svg {
    -webkit-transform: scale(.52381);
    transform: scale(.52381)
}

.icon--outline.icon--x-large .icon__svg {
    -webkit-transform: scale(.54054);
    transform: scale(.54054)
}

.icon--small.icon--outline {
    border-width: .125rem
}

.icon--large.icon--outline {
    border-width: .25rem
}

.icon--x-large.icon--outline {
    border-width: .4375rem
}

.icon--solid {
    border: .1875rem solid;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background: currentColor;
    fill: #fff
}

.icon--solid .icon__svg {
    -webkit-transform: scale(.61538);
    transform: scale(.61538)
}

.icon--solid.icon--no-padding .icon__svg {
    -webkit-transform: scale(.5);
    transform: scale(.5)
}

.icon--solid.icon--small .icon__svg {
    -webkit-transform: scale(.8);
    transform: scale(.8)
}

.icon--solid.icon--large .icon__svg {
    -webkit-transform: scale(.52381);
    transform: scale(.52381)
}

.icon--solid.icon--x-large .icon__svg {
    -webkit-transform: scale(.54054);
    transform: scale(.54054)
}

.icon--small {
    width: 1rem;
    height: 1rem
}

.icon--large {
    width: 3rem;
    height: 3rem
}

.icon--x-large {
    width: 5rem;
    height: 5rem
}

.icon--full-size {
    width: 100%;
    height: 100%
}

.icon--top {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.icon--top .icon__use {
    -webkit-transform: translateY(50%);
    transform: translateY(50%)
}

.icon--right {
    -webkit-transform: translateX(50%);
    transform: translateX(50%)
}

.icon--right .icon__use {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.icon--bottom {
    -webkit-transform: translateY(50%);
    transform: translateY(50%)
}

.icon--bottom .icon__use {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.icon--left {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.icon--left .icon__use {
    -webkit-transform: translateX(50%);
    transform: translateX(50%)
}

.icon--active {
    border-color: #66bf39;
    color: #66bf39
}

.icon--inactive {
    border-color: #b2b2b2;
    color: #b2b2b2
}

.icon--invert {
    fill: #fff
}

.icon--with-shadow {
    -webkit-filter: drop-shadow(0 0 0.125rem rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0 0 0.125rem rgba(0, 0, 0, 0.5))
}

.icon--top .icon__svg {
    overflow: visible
}

.icon--right .icon__svg {
    overflow: visible
}

.icon--bottom .icon__svg {
    overflow: visible
}

.icon--left .icon__svg {
    overflow: visible
}

.icon--flip-horizontal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}

.icon--flip-vertical {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1)
}

.icon--rotate-45deg {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.icon--rotate-90deg {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.icon--rotate-135deg {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.icon--rotate-180deg {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.icon--rotate-225deg {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg)
}

.icon--rotate-270deg {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
}

.icon--rotate-315deg {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg)
}

.icon--facebook {
    color: #3b5998
}

.icon--googleplus {
    color: #dd4b39
}

.icon--pinterest {
    color: #cb2027
}

.icon--twitter {
    color: #00aced
}

.icon--done-page-edit {
    color: #45a3e5
}

.icon--done-page-preview {
    color: #45a3e5
}

.icon--done-page-play {
    color: #66bf39
}

.icon--done-page-share {
    color: #864cbf
}

.icon--kahoot-shape-arrow {
    fill: #e21b3c
}

.icon--kahoot-shape-diamond {
    fill: #1368ce
}

.icon--kahoot-shape-circle {
    fill: #d89e00
}

.icon--kahoot-shape-square {
    fill: #298f0d
}

.card {
    overflow: hidden;
    background: #f2f2f2;
    border-radius: .1875rem;
    box-shadow: inset 0 -.1875rem rgba(0, 0, 0, 0.1)
}

.icon {
    display: inline-block;
    vertical-align: top;
    width: 1.5rem;
    height: 1.5rem
}

.icon__svg {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    pointer-events: none
}

.icon--outline {
    border: .1875rem solid;
    border-radius: 50%;
    width: 2rem;
    height: 2rem
}

.icon--outline .icon__svg {
    -webkit-transform: scale(.61538);
    transform: scale(.61538)
}

.icon--outline.icon--no-padding .icon__svg {
    -webkit-transform: scale(.5);
    transform: scale(.5)
}

.icon--outline.icon--small .icon__svg {
    -webkit-transform: scale(.8);
    transform: scale(.8)
}

.icon--outline.icon--large .icon__svg {
    -webkit-transform: scale(.52381);
    transform: scale(.52381)
}

.icon--outline.icon--x-large .icon__svg {
    -webkit-transform: scale(.54054);
    transform: scale(.54054)
}

.icon--small.icon--outline {
    border-width: .125rem
}

.icon--large.icon--outline {
    border-width: .25rem
}

.icon--x-large.icon--outline {
    border-width: .4375rem
}

.icon--solid {
    border: .1875rem solid;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background: currentColor;
    fill: #fff
}

.icon--solid .icon__svg {
    -webkit-transform: scale(.61538);
    transform: scale(.61538)
}

.icon--solid.icon--no-padding .icon__svg {
    -webkit-transform: scale(.5);
    transform: scale(.5)
}

.icon--solid.icon--small .icon__svg {
    -webkit-transform: scale(.8);
    transform: scale(.8)
}

.icon--solid.icon--large .icon__svg {
    -webkit-transform: scale(.52381);
    transform: scale(.52381)
}

.icon--solid.icon--x-large .icon__svg {
    -webkit-transform: scale(.54054);
    transform: scale(.54054)
}

.icon--small {
    width: 1rem;
    height: 1rem
}

.icon--large {
    width: 3rem;
    height: 3rem
}

.icon--x-large {
    width: 5rem;
    height: 5rem
}

.icon--full-size {
    width: 100%;
    height: 100%
}

.icon--top {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.icon--top .icon__use {
    -webkit-transform: translateY(50%);
    transform: translateY(50%)
}

.icon--right {
    -webkit-transform: translateX(50%);
    transform: translateX(50%)
}

.icon--right .icon__use {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.icon--bottom {
    -webkit-transform: translateY(50%);
    transform: translateY(50%)
}

.icon--bottom .icon__use {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.icon--left {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.icon--left .icon__use {
    -webkit-transform: translateX(50%);
    transform: translateX(50%)
}

.icon--active {
    border-color: #66bf39;
    color: #66bf39
}

.icon--inactive {
    border-color: #b2b2b2;
    color: #b2b2b2
}

.icon--invert {
    fill: #fff
}

.icon--with-shadow {
    -webkit-filter: drop-shadow(0 0 0.125rem rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0 0 0.125rem rgba(0, 0, 0, 0.5))
}

.icon--top .icon__svg {
    overflow: visible
}

.icon--right .icon__svg {
    overflow: visible
}

.icon--bottom .icon__svg {
    overflow: visible
}

.icon--left .icon__svg {
    overflow: visible
}

.icon--flip-horizontal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}

.icon--flip-vertical {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1)
}

.icon--rotate-45deg {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.icon--rotate-90deg {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.icon--rotate-135deg {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.icon--rotate-180deg {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.icon--rotate-225deg {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg)
}

.icon--rotate-270deg {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
}

.icon--rotate-315deg {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg)
}

.icon--facebook {
    color: #3b5998
}

.icon--googleplus {
    color: #dd4b39
}

.icon--pinterest {
    color: #cb2027
}

.icon--twitter {
    color: #00aced
}

.icon--done-page-edit {
    color: #45a3e5
}

.icon--done-page-preview {
    color: #45a3e5
}

.icon--done-page-play {
    color: #66bf39
}

.icon--done-page-share {
    color: #864cbf
}

.icon--kahoot-shape-arrow {
    fill: #e21b3c
}

.icon--kahoot-shape-diamond {
    fill: #1368ce
}

.icon--kahoot-shape-circle {
    fill: #d89e00
}

.icon--kahoot-shape-square {
    fill: #298f0d
}

.icon-button {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    vertical-align: top;
    padding: .5rem;
    font-family: inherit;
    color: inherit;
    fill: currentColor;
    line-height: 1
}

.icon-button__wrap {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: top
}

.icon-button__icon {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

.icon-button__text {
    line-height: 1.5rem;
    font-size: 1rem;
    display: inline-block;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin: 0 0 0 .5rem
}

.icon-button--invert .icon-button__icon,
.icon-button--invert .icon-button__figure {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
}

.icon-button--invert .icon-button__text {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    margin: 0 .5rem 0 0
}

.icon-button--stack .icon-button__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.icon-button--stack .icon-button__figure {
    margin: 0 0 .5rem
}

.icon-button--stack .icon-button__text {
    margin: 0
}

.icon-button--stack.icon-button--invert .icon-button__icon,
.icon-button--stack.icon-button--invert .icon-button__figure {
    margin: 0
}

.icon-button--stack.icon-button--invert .icon-button__text {
    margin: 0 0 .5rem
}

.icon-button--right {
    padding: 0 .1rem
}

.text-button {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    font-family: "Montserrat", "Helvetica Neue", helvetica, arial, sans-serif
}

:root {
    font-size: 16px
}

body {
    background-color: #f2f2f2
}

html {
    overflow: hidden
}

.grid--gutter-vertical {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.grid--nowrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.grid--align-center {
    -ms-flex-line-pack: center;
    align-content: center
}

.placeholder {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: relative;
    padding: 0;
    background: rgba(0, 0, 0, 0.175);
    border: 0;
    border-radius: .25rem
}

.placeholder:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    border: 4px dashed rgba(0, 0, 0, 0.4);
    border-radius: .25rem
}

.placeholder--triangle {
    background: rgba(255, 51, 85, 0.175)
}

.placeholder--triangle:after {
    border-color: #f35
}

.placeholder--diamond {
    background: rgba(19, 104, 206, 0.175)
}

.placeholder--diamond:after {
    border-color: #1368ce
}

.placeholder--square {
    background: rgba(102, 191, 57, 0.175)
}

.placeholder--square:after {
    border-color: #66bf39
}

.placeholder--circle {
    background: rgba(216, 158, 0, 0.175)
}

.placeholder--circle:after {
    border-color: #d89e00
}

.overlay {
    display: block;
    background: transparent;
    pointer-events: none
}

.countdown {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 3.75rem;
    height: 3.75rem;
    background: #864cbf;
    border-radius: 100%;
    font: 1.6rem 'bp replay bold italics';
    color: #fff
}

@media all and (min-width: 37.5rem) {
    .countdown {
        width: 7.5rem;
        height: 7.5rem
    }
}

@media all and (min-width: 37.5rem) {
    .countdown {
        font-size: 3rem
    }
}

@media all and (min-width: 64rem) {
    .countdown {
        font-size: 3.5rem
    }
}

.countdown--teamtalk {
    background: #33cccc
}

.answer-counter {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    font-family: 'bp replay bold italics'
}

.answer-counter__answer {
    font-size: 1rem
}

@media all and (min-width: 37.5rem) {
    .answer-counter__answer {
        font-size: 1.5rem
    }
}

.answer-counter__number {
    font-size: 2rem;
    line-height: 1.6rem
}

@media all and (min-width: 37.5rem) {
    .answer-counter__number {
        font-size: 3rem;
        line-height: 2.5rem
    }
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    color: #fff;
    transition: box-shadow .2s, background .2s, opacity .2s
}

.card:focus {
    outline: 0
}

.card.png-fallback {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%
}

.card--triangle {
    background-color: #e21b3c
}

.card--triangle:hover {
    background-color: #c01733
}

.card--square {
    background-color: #298f0d
}

.card--square:hover {
    background-color: #237a0b
}

.card--diamond {
    background-color: #1368ce
}

.card--diamond:hover {
    background-color: #1058af
}

.card--circle {
    background-color: #d89e00
}

.card--circle:hover {
    background-color: #b88600
}

.card--hidden {
    display: none;
    visibility: hidden
}

.card--margin {
    margin: 0 .5rem
}

.card--column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.card__icon {
    width: 50%;
    height: 50%;
    fill: #fff
}

.card--button {
    width: 100%;
    border: 0
}

.card--disabled {
    cursor: default;
    opacity: .65
}

.button {
    display: inline-block;
    vertical-align: top;
    padding: .625rem 1.25rem .8125rem;
    border: 0;
    box-shadow: inset 0 -0.1875rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font: bold 1.5rem "Montserrat", "Helvetica Neue", helvetica, arial, sans-serif
}

.button__text {
    display: inline-block;
    vertical-align: top
}

.button--blue {
    background: #45a3e5;
    color: #fff
}

.aside-button {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-right: 0.5rem
}

.aside-button--position-absolute {
    position: absolute;
    top: 0;
    right: 1rem
}

.question-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #fff;
    box-shadow: inset 0 -0.1875rem rgba(0, 0, 0, 0.15)
}

.question-bar--has-fullscreen-button {
    min-height: 6.625rem
}

.question-bar button {
    display: none
}

.question-bar__title-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 1.25rem 1rem;
    text-align: center
}

.question-bar__title {
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.1;
    letter-spacing: -.063rem
}

@media all and (min-width: 37.5rem) {
    .question-bar button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
    .question-bar__title-wrap {
        margin: 0.75rem 4rem 1rem
    }
    .question-bar__title {
        font-size: 1.5rem;
        line-height: 1.08
    }
}

@media all and (min-width: 64rem) {
    .question-bar button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
    .question-bar__title-wrap {
        margin: 1.25rem 5.25rem 1.375rem
    }
    .question-bar__title {
        font-size: 2.5rem;
        line-height: 1
    }
}

.show-media__button {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 7.94rem;
    height: 100%;
    padding: 0;
    background: #333;
    border-radius: .125rem;
    font-size: .75rem;
    line-height: 2;
    color: #fff
}

.show-media__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5%;
    background: rgba(0, 0, 0, 0.7);
    pointer-events: auto
}

.show-media__media-wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    width: 90vw;
    height: 90vh
}

.show-media__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: no-repeat center/contain
}

.show-media__icon {
    width: 1em;
    padding: 0 0 0 .5rem;
    fill: currentColor;
    box-sizing: content-box
}

.show-media__close-button {
    position: fixed;
    top: .625rem;
    right: .625rem;
    width: 3.125rem;
    height: 3.125rem;
    padding: 0;
    background-color: #333;
    border-radius: 50%;
    font-size: .875rem;
    line-height: 1.5rem
}

.show-media__close-button svg {
    fill: #fff
}

.main-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh
}

.content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden
}

.question-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

.question-details__left-panel,
.question-details__center-panel,
.question-details__right-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.question-details__left-panel,
.question-details__right-panel {
    -ms-flex-preferred-size: 5rem;
    flex-basis: 5rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.question-details__center-panel {
    -ms-flex-preferred-size: calc(100% - 2 * 5rem);
    flex-basis: calc(100% - 2 * 5rem)
}

.question-details__right-panel {
    position: relative
}

.question-details .aside-button {
    display: block;
    position: relative;
    width: 4.375rem;
    height: 2.313rem;
    margin: .625rem .375rem 0 0;
    padding: 0
}

.question-details__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%
}

.question-details__figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0;
    background: no-repeat center/contain
}

.question-details__skip-button {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: .125rem;
    box-shadow: inset 0 -0.25rem 0 0 rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    font-weight: 900
}

.question-details__answer-counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(100% - 2.313rem - .625rem);
    flex: 1 1 calc(100% - 2.313rem - .625rem);
    overflow: hidden;
    width: 100%;
    padding: 0 0 calc(2.313rem + .625rem)
}

.question-details__logo-wrapper {
    position: absolute;
    bottom: 0
}

@media all and (min-width: 37.5rem) {
    .question-details {
        -webkit-box-flex: 6;
        -ms-flex: 6;
        flex: 6
    }
    .question-details__left-panel,
    .question-details__right-panel {
        -ms-flex-preferred-size: 10rem;
        flex-basis: 10rem
    }
    .question-details__center-panel {
        -ms-flex-preferred-size: calc(100% - 2 * 10rem);
        flex-basis: calc(100% - 2 * 10rem)
    }
    .question-details .aside-button {
        width: 5.33rem;
        height: 2.75rem;
        margin: 1.25rem 1.25rem 0 0
    }
    .question-details__answer-counter {
        -ms-flex-preferred-size: calc(100% - 2.75rem - 1.25rem);
        flex-basis: calc(100% - 2.75rem - 1.25rem)
    }
    .question-details__skip-button {
        font-size: 1.25rem
    }
}

@media all and (min-width: 64rem) {
    .question-details__left-panel,
    .question-details__right-panel {
        -ms-flex-preferred-size: 12.75rem;
        flex-basis: 12.75rem
    }
    .question-details__center-panel {
        -ms-flex-preferred-size: calc(100% - 2 * 12.75rem);
        flex-basis: calc(100% - 2 * 12.75rem)
    }
    .question-details .aside-button {
        width: 5.934rem;
        height: 3.125rem;
        margin: 1.25rem 1.25rem 0 0
    }
    .question-details__answer-counter {
        -ms-flex-preferred-size: calc(100% - 3.125rem - 1.25rem);
        flex-basis: calc(100% - 3.125rem - 1.25rem)
    }
    .question-details__skip-button {
        font-size: 1.5rem
    }
}

.question-choices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: .625rem 0;
    padding: .3125rem
}

.question-choices__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.question-choices__card {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(50% - 2 * .3125rem);
    flex: 1 1 calc(50% - 2 * .3125rem);
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: calc(50% - 2 * .3125rem);
    height: calc(50% - .3125rem);
    margin: .3125rem;
    padding: .3125rem .375rem
}

.question-choices__icon:first-child:nth-last-child(3) {
    display: none
}

.question-choices__icon {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(1.75rem - .375rem - .0625rem);
    flex: 1 1 calc(1.75rem - .375rem - .0625rem);
    min-width: 1.75rem;
    max-width: 1.75rem;
    height: 1.75rem;
    margin: .313rem;
}

.question-choices .card--diamond .card__icon {
    padding: 0
}

.question-choices__tick {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(1.75rem - .375rem - .0625rem);
    flex: 1 1 calc(1.75rem - .375rem - .0625rem);
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    height: 1.75rem;
    fill: #fff
}

.question-choices__card-text {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(100% - 2 * 1.75rem - 4 * .25rem);
    flex: 1 1 calc(100% - 2 * 1.75rem - 4 * .25rem);
    margin: 0 0 0 .063rem;
    font: 600 0.875rem "Montserrat", "Helvetica Neue", helvetica, arial, sans-serif;
    text-shadow: 0 0.125rem 0 rgba(0, 0, 0, 0.25), 0 0 0.125rem #000
}

@media all and (min-width: 37.5rem) and (max-width: 63.9375rem) {
    .question-choices {
        -webkit-box-flex: 4;
        -ms-flex: 4;
        flex: 4
    }
    .question-choices__card {
        padding: .625rem
    }
    .question-choices__icon:first-child:nth-last-child(3) {
        display: block
    }
    .question-choices__icon {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(2.5rem - 2 * .625rem);
        flex: 1 1 calc(2.5rem - 2 * .625rem);
        min-width: 2.5rem;
        max-width: 2.5rem;
        height: 2.5rem;
        margin: .625rem;
    }
    .question-choices__card-text {
        -ms-flex-preferred-size: calc(100% - 2 * 2.5rem - 4 * .625rem);
        flex-basis: calc(100% - 2 * 2.5rem - 4 * .625rem);
        margin: 0;
        font-size: 1.125rem
    }
    .question-choices__tick {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(2.5rem - 2 * .625rem);
        flex: 1 1 calc(2.5rem - 2 * .625rem);
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        height: 2.5rem
    }
}

@media all and (min-width: 64rem) {
    .question-choices {
        -webkit-box-flex: 4;
        -ms-flex: 4;
        flex: 4
    }
    .question-choices__card {
        padding: 0 .356rem
    }
    .question-choices__icon:first-child:nth-last-child(3) {
        display: block
    }
    .question-choices__icon {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(3.563rem - 2 * .356rem);
        flex: 1 1 calc(3.563rem - 2 * .356rem);
        min-width: 3.563rem;
        max-width: 3.563rem;
        height: 3.563rem;
        margin: 1.25rem;
    }
    .question-choices__card-text {
        -ms-flex-preferred-size: calc(100% - 2 * 3.563rem - 4 * .356rem);
        flex-basis: calc(100% - 2 * 3.563rem - 4 * .356rem);
        font-size: 1.75rem
    }
    .question-choices__tick {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(3.563rem - 2 * .356rem);
        flex: 1 1 calc(3.563rem - 2 * .356rem);
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        height: 3.563rem
    }
}

.question-results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

.question-results__left-panel,
.question-results__center-panel,
.question-results__right-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.question-results__left-panel,
.question-results__right-panel {
    -ms-flex-preferred-size: 5rem;
    flex-basis: 5rem
}

.question-results__countdown-aside-wrapper {
    width: 100%
}

.question-results__auto-progress-countdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.question-results__center-panel {
    -ms-flex-preferred-size: calc(100% - 2 * 5rem);
    flex-basis: calc(100% - 2 * 5rem);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    overflow: hidden;
    max-width: 38.438rem
}

.question-results .show-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 1.75rem;
    flex: 0 0 1.75rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin: .75rem 0 0;
    padding: 0
}

.question-results__answers-histogram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(100% - 1.75rem - .75rem);
    flex: 1 1 calc(100% - 1.75rem - .75rem)
}

.question-results__right-panel {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.question-results .aside-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 4.375rem;
    flex: 1 1 4.375rem;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: .625rem .375rem 0 .25rem
}

.question-results__next-button {
    display: block;
    width: 4.375rem;
    height: 2.313rem;
    padding: 0;
    border-radius: .125rem;
    box-shadow: inset 0 -0.25rem 0 0 rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    font-weight: 900
}

.question-results__end-quiz-button {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 4.25rem;
    flex: 1 1 4.25rem;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin: 0 1.25rem 0 0;
    font-family: 'Droid Sans', sans-serif;
    font-size: .813rem;
    font-weight: bold;
    text-align: right;
    color: #333
}

@media all and (min-width: 37.5rem) {
    .question-results {
        -webkit-box-flex: 6;
        -ms-flex: 6;
        flex: 6
    }
    .question-results__left-panel,
    .question-results__right-panel {
        -ms-flex-preferred-size: 10rem;
        flex-basis: 10rem
    }
    .question-results .aside-button {
        margin: 1.25rem 1.25rem 0 0
    }
    .question-results .auto-progress-countdown-wrapper .auto-progress-countdown-time {
        font-size: 3rem
    }
    .question-results .auto-progress-countdown-wrapper .auto-progress-countdown-text {
        font-size: 1.5rem
    }
    .question-results__next-button {
        width: 5rem;
        height: 2.75rem;
        font-size: 1.25rem
    }
}

@media all and (min-width: 64rem) {
    .question-results__left-panel,
    .question-results__right-panel {
        -ms-flex-preferred-size: 12.75rem;
        flex-basis: 12.75rem
    }
    .question-results__answers-histogram {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% - 2.5rem - 2rem);
        flex: 1 1 calc(100% - 2.5rem - 2rem)
    }
    .question-results .auto-progress-countdown-wrapper .auto-progress-countdown-time {
        font-size: 3.5rem
    }
    .question-results .auto-progress-countdown-wrapper .auto-progress-countdown-text {
        font-size: 1.5rem
    }
    .question-results__next-button {
        width: 5.938rem;
        height: 3.125rem;
        font-size: 1.5rem
    }
    .question-results .show-media {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 2.5rem;
        flex: 0 0 2.5rem;
        margin: 2rem 0 0
    }
    .question-results .show-media__button {
        width: 13.125rem;
        height: 2.5rem;
        font-size: 1.125rem;
        line-height: 1.5
    }
}

@-webkit-keyframes swipe-up {
    0%,
    90% {
        -webkit-transform: translateY(-0.75rem);
        transform: translateY(-0.75rem)
    }
    100% {
        -webkit-transform: translateY(-4rem);
        transform: translateY(-4rem)
    }
}

@keyframes swipe-up {
    0%,
    90% {
        -webkit-transform: translateY(-0.75rem);
        transform: translateY(-0.75rem)
    }
    100% {
        -webkit-transform: translateY(-4rem);
        transform: translateY(-4rem)
    }
}

.question-video {
    position: relative;
    height: 100%
}

.question-video__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 .5rem
}

.question-video--overlay {
    position: absolute;
    top: .75rem;
    left: .5rem;
    z-index: 2;
    width: 100%;
    height: 3.6rem;
    background: #000;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-animation: swipe-up 10s;
    animation: swipe-up 10s
}

.question-video:hover .question-video--overlay {
    -webkit-transform: translateY(-0.75rem);
    transform: translateY(-0.75rem);
    transition: -webkit-transform .01s;
    transition: transform .01s;
    transition: transform .01s, -webkit-transform .01s
}

.answers-histogram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%
}

.answers-histogram__choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 21.875%;
    flex: 0 0 21.875%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 25vh
}

.answers-histogram__bar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(100% - 1.25rem);
    flex: 1 1 calc(100% - 1.25rem);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-height: 0;
    height: 100%;
    margin: 0 0 .125rem
}

.answers-histogram__card {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 1.25rem;
    border-radius: 0 0 .125rem .125rem;
    box-shadow: none
}

.answers-histogram__card-icon {
    height: .75rem
}

.answers-histogram .card--diamond .card__icon {
    height: .9rem
}

.answers-histogram__bar {
    margin: .25rem 0 0;
    border-radius: .125rem .125rem 0 0
}

.answers-histogram__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.25;
    text-align: center
}

.answers-histogram__label--triangle {
    color: #e21b3c
}

.answers-histogram__label--square {
    color: #298f0d
}

.answers-histogram__label--diamond {
    color: #1368ce
}

.answers-histogram__label--circle {
    color: #d89e00
}

.answers-histogram__label-text {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0
}

.answers-histogram__label-icon {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 2.188rem;
    height: 1.769rem
}

.answers-histogram__label-icon--triangle {
    fill: #e21b3c
}

.answers-histogram__label-icon--square {
    fill: #298f0d
}

.answers-histogram__label-icon--diamond {
    fill: #1368ce
}

.answers-histogram__label-icon--circle {
    fill: #d89e00
}

@media all and (min-width: 37.5rem) {
    .answers-histogram__choice {
        height: 40vh
    }
    .answers-histogram__bar-container {
        margin: 0 0 .24rem
    }
    .answers-histogram__card {
        height: 1.625rem
    }
    .answers-histogram__label {
        font-size: 1.5rem
    }
    .answers-histogram__card-icon {
        height: 1rem
    }
    .answers-histogram .card--diamond .card__icon {
        height: 1.2rem
    }
}

@media all and (min-width: 64rem) {
    .answers-histogram__choice {
        height: 30vh
    }
    .answers-histogram__card {
        height: 2.75rem
    }
    .answers-histogram__card-icon {
        height: 1.375rem
    }
    .answers-histogram .card--diamond .card__icon {
        height: 1.65rem
    }
    .answers-histogram__label {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 2.5rem
    }
    .answers-histogram__label-text {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
        flex: 0 1 25%;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }
    .answers-histogram__label-icon {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
        flex: 0 1 25%;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        width: 2.75rem;
        height: 2.225rem
    }
}

